## Desafio feito utilizando API + biblioteca de frases com random.

In [2]:
sdw2023_api_url = 'https://sdw-2023-prd.up.railway.app'

In [5]:
import pandas as pd

In [7]:
df = pd.read_csv('SDW2023.csv')
user_ids = df['UserID'].tolist()
print(user_ids)

[1346, 1347, 1348, 1349, 1350]

In [10]:
import requests
import json

In [11]:
def get_user(id):
  response = requests.get(f'{sdw2023_api_url}/users/{id}')
  return response.json() if response.status_code == 200 else None

users = [user for id in user_ids if (user := get_user(id)) is not None]
print(json.dumps(users, indent=2))

[
  {
    "id": 1346,
    "name": "Ana Maria",
    "account": {
      "id": 1409,
      "number": "2304-1",
      "agency": "0001",
      "balance": 0.0,
      "limit": 500.0
    },
    "card": {
      "id": 1287,
      "number": "**** **** **** 2304",
      "limit": 1000.0
    },
    "features": [
      {
        "id": 453,
        "icon": "string",
        "description": "string"
      }
    ],
    "news": [
      {
        "id": 2772,
        "icon": "string",
        "description": "string"
      }
    ]
  },
  {
    "id": 1347,
    "name": "Rodrigo Naves",
    "account": {
      "id": 1410,
      "number": "2304-2",
      "agency": "0001",
      "balance": 0.0,
      "limit": 5500.0
    },
    "card": {
      "id": 1288,
      "number": "**** **** **** 2209",
      "limit": 10000.0
    },
    "features": [
      {
        "id": 454,
        "icon": "string",
        "description": "string"
      }
    ],
    "news": [
      {
        "id": 2773,
        "icon": "string",
        "description": "string"
      }
    ]
  },
  {
    "id": 1348,
    "name": "Jessica Assis",
    "account": {
      "id": 1411,
      "number": "2304-3",
      "agency": "0001",
      "balance": 0.0,
      "limit": 5900.0
    },
    "card": {
      "id": 1289,
      "number": "**** **** **** 2901",
      "limit": 10000.0
    },
    "features": [
      {
        "id": 455,
        "icon": "string",
        "description": "string"
      }
    ],
    "news": [
      {
        "id": 2774,
        "icon": "string",
        "description": "string"
      }
    ]
  },
  {
    "id": 1349,
    "name": "Wade Wilson",
    "account": {
      "id": 1412,
      "number": "2304-4",
      "agency": "0001",
      "balance": 0.0,
      "limit": 900.0
    },
    "card": {
      "id": 1290,
      "number": "**** **** **** 2908",
      "limit": 1000.0
    },
    "features": [
      {
        "id": 456,
        "icon": "string",
        "description": "string"
      }
    ],
    "news": [
      {
        "id": 2775,
        "icon": "string",
        "description": "string"
      }
    ]
  },
  {
    "id": 1350,
    "name": "Francisco Cisco",
    "account": {
      "id": 1413,
      "number": "2304-5",
      "agency": "0001",
      "balance": 0.0,
      "limit": 900.0
    },
    "card": {
      "id": 1291,
      "number": "**** **** **** 2507",
      "limit": 1000.0
    },
    "features": [
      {
        "id": 457,
        "icon": "string",
        "description": "string"
      }
    ],
    "news": [
      {
        "id": 2776,
        "icon": "string",
        "description": "string"
      }
    ]
  }
]

In [12]:
import random

In [101]:
with open('frases.txt', 'r') as arquivo:
  mensagens = arquivo.readlines()


def generate_ai_news(user):
  mensagem = random.choice(mensagens).strip()
  text = (f"Olá {user['name']}, {mensagem}")
  return text


for user in users:
  news = generate_ai_news(user)
  print(news)
  user['news'].append({"description": news})

Olá Ana Maria, o dinheiro e uma ferramenta; saiba usa-lo com sabedoria.
Olá Rodrigo Naves, o investimento inteligente e a base da independencia financeira.
Olá Jessica Assis, o investimento inteligente e a base da independencia financeira.
Olá Wade Wilson, dinheiro bem investido e o alicerce de uma vida estavel.
Olá Francisco Cisco, o futuro depende das escolhas financeiras que fazemos hoje.

In [16]:
def update_user(user):
  response = requests.put(f"{sdw2023_api_url}/users/{user['id']}", json=user)
  return True if response.status_code == 200 else False

for user in users:
  success = update_user(user)
  print(f"User {user['name']} updated? {success}!")

User Ana Maria updated? True!
User Rodrigo Naves updated? True!
User Jessica Assis updated? True!
User Wade Wilson updated? True!
User Francisco Cisco updated? True!

---

## Desafio feito utilizando apenas arquivos .csv + biblioteca de frases com random.

- Criação dos dados seguindo o modelo presente no API.

In [17]:
import pandas as pd
import random

In [94]:
ID = list(range(1, 11))
print(ID)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [73]:
NomeCompleto = df = pd.read_csv('nameSDW2023.csv')
NomeCompleto = df['UserName'].tolist()
print(NomeCompleto)

['Lucas Silva', 'Ana Costa', 'Pedro Santos', 'Laura Pereira', 'Bruno Oliveira', 'Marina Rodrigues', 'Rafael Fernandes', 'Carolina Sousa', 'Thiago Almeida', 'Gabriela Lima']

In [198]:
valor_inicial = 1000
ContaCorrente = [valor_inicial + i for i in range(10)]
print(ContaCorrente)

[1000, 1001, 1002, 1003, 1004, 1005, 1006, 1007, 1008, 1009]

In [75]:
Agencia = 123
print(Agencia)

123

In [77]:
Saldo = [round(10000*random.random(),2) for saldo in NomeCompleto]
print(Saldo)

[291.07, 6087.61, 336.31, 9499.08, 9.18, 8068.59, 8933.87, 7751.2, 7128.44, 3842.06]

In [250]:
def gerar_numero_aleatorio():
    return str(random.randint(1000, 9999))

numeros_aleatorios = [gerar_numero_aleatorio() for _ in range(10)]

NumeroCardCredito = ["**** **** **** " + numero for numero in numeros_aleatorios]

for numero in NumeroCardCredito:
    print(numero)

**** **** **** 9522
**** **** **** 1932
**** **** **** 5469
**** **** **** 7347
**** **** **** 1063
**** **** **** 9159
**** **** **** 1799
**** **** **** 3009
**** **** **** 6710
**** **** **** 4841

In [252]:
LimiteDisponivel = [random.randint(100, 1000) * 100 for _ in range(10)]
print(LimiteDisponivel)

[85700, 45400, 21200, 63100, 12600, 95600, 60800, 93000, 39900, 44700]

In [253]:
df_clientes = pd.DataFrame({'ID':ID, 'NomeCompleto':NomeCompleto, 'ContaCorrente':ContaCorrente, 'Agencia':Agencia, 
                            'Saldo':Saldo, 'NumeroCardCredito':NumeroCardCredito, 'LimiteDisponivel':LimiteDisponivel })
print(df_clientes)

   ID      NomeCompleto  ContaCorrente  Agencia    Saldo    NumeroCardCredito  \
0   1       Lucas Silva           1000      123   291.07  **** **** **** 9522
1   2         Ana Costa           1001      123  6087.61  **** **** **** 1932
2   3      Pedro Santos           1002      123   336.31  **** **** **** 5469
3   4     Laura Pereira           1003      123  9499.08  **** **** **** 7347
4   5    Bruno Oliveira           1004      123     9.18  **** **** **** 1063
5   6  Marina Rodrigues           1005      123  8068.59  **** **** **** 9159
6   7  Rafael Fernandes           1006      123  8933.87  **** **** **** 1799
7   8    Carolina Sousa           1007      123  7751.20  **** **** **** 3009
8   9    Thiago Almeida           1008      123  7128.44  **** **** **** 6710
9  10     Gabriela Lima           1009      123  3842.06  **** **** **** 4841

   LimiteDisponivel
0             85700
1             45400
2             21200
3             63100
4             12600
5             95600
6             60800
7             93000
8             39900
9             44700

In [254]:
try:
    df_clientes.to_csv('df_clientes.csv', index=False)
    print('Dados armazenados no arquivo csv.')
except:
    print('Os dados não foram armazenados.')
else:
    print('Os dados foram armazenados com sucesso.')

Dados armazenados no arquivo csv.
Os dados foram armazenados com sucesso.

- **E**xtração dos dados:

In [255]:
df_clientes = pd.read_csv('df_clientes.csv')
display(df_clientes)

,ID,NomeCompleto,ContaCorrente,Agencia,Saldo,NumeroCardCredito,LimiteDisponivel
0,1,Lucas Silva,1000,123,291.07,**** **** **** 9522,85700
1,2,Ana Costa,1001,123,6087.61,**** **** **** 1932,45400
2,3,Pedro Santos,1002,123,336.31,**** **** **** 5469,21200
3,4,Laura Pereira,1003,123,9499.08,**** **** **** 7347,63100
4,5,Bruno Oliveira,1004,123,9.18,**** **** **** 1063,12600
5,6,Marina Rodrigues,1005,123,8068.59,**** **** **** 9159,95600
6,7,Rafael Fernandes,1006,123,8933.87,**** **** **** 1799,60800
7,8,Carolina Sousa,1007,123,7751.20,**** **** **** 3009,93000
8,9,Thiago Almeida,1008,123,7128.44,**** **** **** 6710,39900
9,10,Gabriela Lima,1009,123,3842.06,**** **** **** 4841,44700

- **T**ransformação dos dados:

In [256]:
import csv

nomes = []
with open('df_clientes.csv', 'r') as arquivo_csv:
    leitor_csv = csv.DictReader(arquivo_csv)
    for linha in leitor_csv:
        nomes.append(linha['NomeCompleto'])
        
frases = []
with open('frases.txt', 'r', encoding='utf-8') as arquivo_texto:
    frases = arquivo_texto.readlines()
    
mensagens = []
if len(nomes) > 0 and len(frases) > 0:
    for nome in nomes:
        frase = random.choice(frases).strip()
        mensagem = f"Olá {nome}, {frase}"
        mensagens.append(mensagem)

print(mensagens)

['Olá Lucas Silva, aprenda a multiplicar seu dinheiro atraves de investimentos solidos.', 'Olá Ana Costa, crie um plano financeiro solido para atingir seus objetivos.', 'Olá Pedro Santos, o investimento inteligente e a base da independencia financeira.', 'Olá Laura Pereira, investir e plantar sementes financeiras para colher um futuro seguro.', 'Olá Bruno Oliveira, o dinheiro e uma ferramenta; saiba usa-lo com sabedoria.', 'Olá Marina Rodrigues, nao subestime o poder dos juros compostos a longo prazo.', 'Olá Rafael Fernandes, mantenha um equilibrio entre gastar, economizar e investir.', 'Olá Carolina Sousa, invista sabiamente e faca seu dinheiro trabalhar por voce.', 'Olá Thiago Almeida, nao deixe seu dinheiro parado; faca-o trabalhar para voce.', 'Olá Gabriela Lima, o investimento inteligente e a base da independencia financeira.']

In [258]:
df_mensagens = pd.DataFrame({'mensagens': mensagens})
df_mensagens.rename(columns={'mensagens': 'MENSAGENS'}, inplace=True)
print(df_mensagens)

                                           MENSAGENS
0  Olá Lucas Silva, aprenda a multiplicar seu din...
1  Olá Ana Costa, crie um plano financeiro solido...
2  Olá Pedro Santos, o investimento inteligente e...
3  Olá Laura Pereira, investir e plantar sementes...
4  Olá Bruno Oliveira, o dinheiro e uma ferrament...
5  Olá Marina Rodrigues, nao subestime o poder do...
6  Olá Rafael Fernandes, mantenha um equilibrio e...
7  Olá Carolina Sousa, invista sabiamente e faca ...
8  Olá Thiago Almeida, nao deixe seu dinheiro par...
9  Olá Gabriela Lima, o investimento inteligente ...

In [259]:
df_final = pd.concat([df_clientes, df_mensagens], axis=1)
print(df_final)

   ID      NomeCompleto  ContaCorrente  Agencia    Saldo    NumeroCardCredito  \
0   1       Lucas Silva           1000      123   291.07  **** **** **** 9522
1   2         Ana Costa           1001      123  6087.61  **** **** **** 1932
2   3      Pedro Santos           1002      123   336.31  **** **** **** 5469
3   4     Laura Pereira           1003      123  9499.08  **** **** **** 7347
4   5    Bruno Oliveira           1004      123     9.18  **** **** **** 1063
5   6  Marina Rodrigues           1005      123  8068.59  **** **** **** 9159
6   7  Rafael Fernandes           1006      123  8933.87  **** **** **** 1799
7   8    Carolina Sousa           1007      123  7751.20  **** **** **** 3009
8   9    Thiago Almeida           1008      123  7128.44  **** **** **** 6710
9  10     Gabriela Lima           1009      123  3842.06  **** **** **** 4841

   LimiteDisponivel                                          MENSAGENS
0             85700  Olá Lucas Silva, aprenda a multiplicar seu din...
1             45400  Olá Ana Costa, crie um plano financeiro solido...
2             21200  Olá Pedro Santos, o investimento inteligente e...
3             63100  Olá Laura Pereira, investir e plantar sementes...
4             12600  Olá Bruno Oliveira, o dinheiro e uma ferrament...
5             95600  Olá Marina Rodrigues, nao subestime o poder do...
6             60800  Olá Rafael Fernandes, mantenha um equilibrio e...
7             93000  Olá Carolina Sousa, invista sabiamente e faca ...
8             39900  Olá Thiago Almeida, nao deixe seu dinheiro par...
9             44700  Olá Gabriela Lima, o investimento inteligente ...

- **L**oad dos dados:

In [260]:
try:
    df_final.to_csv('df_final.csv', index=False)
    print('Dados armazenados no arquivo csv.')
except:
    print('Os dados não foram armazenados.')
else:
    print('Os dados foram armazenados com sucesso.')

Dados armazenados no arquivo csv.
Os dados foram armazenados com sucesso.

In [261]:
df_final = pd.read_csv('df_final.csv')
display(df_final)

,ID,NomeCompleto,ContaCorrente,Agencia,Saldo,NumeroCardCredito,LimiteDisponivel,MENSAGENS
0,1,Lucas Silva,1000,123,291.07,**** **** **** 9522,85700,"Olá Lucas Silva, aprenda a multiplicar seu din..."
1,2,Ana Costa,1001,123,6087.61,**** **** **** 1932,45400,"Olá Ana Costa, crie um plano financeiro solido..."
2,3,Pedro Santos,1002,123,336.31,**** **** **** 5469,21200,"Olá Pedro Santos, o investimento inteligente e..."
3,4,Laura Pereira,1003,123,9499.08,**** **** **** 7347,63100,"Olá Laura Pereira, investir e plantar sementes..."
4,5,Bruno Oliveira,1004,123,9.18,**** **** **** 1063,12600,"Olá Bruno Oliveira, o dinheiro e uma ferrament..."
5,6,Marina Rodrigues,1005,123,8068.59,**** **** **** 9159,95600,"Olá Marina Rodrigues, nao subestime o poder do..."
6,7,Rafael Fernandes,1006,123,8933.87,**** **** **** 1799,60800,"Olá Rafael Fernandes, mantenha um equilibrio e..."
7,8,Carolina Sousa,1007,123,7751.20,**** **** **** 3009,93000,"Olá Carolina Sousa, invista sabiamente e faca ..."
8,9,Thiago Almeida,1008,123,7128.44,**** **** **** 6710,39900,"Olá Thiago Almeida, nao deixe seu dinheiro par..."
9,10,Gabriela Lima,1009,123,3842.06,**** **** **** 4841,44700,"Olá Gabriela Lima, o investimento inteligente ..."